body    {
    height: 4000px;
    width: 1920px;
    font-family: 'Gilam', sans-serif;

}

.container {
    background-color: #232323;
    height: 4000px;
    width: 1920px;
    /* background-image: url(../img/background.png); */
    background-repeat: no-repeat;
    background-size: 1920px;
    /* opacity: 45%; */

}

.wrapper {
    width: 1460px;
    height: 4000px;
    margin-left: auto;
    margin-right: auto;
}


.header_wrapper {
    width: 1460px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu_item1 {
    width: 216px;
    height: 33px;

}

.menu_item2 {
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.img_phone {
    margin-right: 10px;
    box-sizing: border-box;

}


a   {
    text-decoration: none;
   
}


.link {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    
}

.title1 {
    font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
color:  #FFFFFF;
margin-top: 128px;
box-sizing: border-box;

}

.title2 {
display: block;
font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color:  #FFFFFF;
margin-top: 41px;
box-sizing: border-box;



}

.grid_wrapper1 {
    margin-top: 41px;
    height: 963px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 27px   ;
    text-align: center;
    box-sizing: border-box;

    
}



[class^="grid_item"] {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 210px;
}

.grid_item1 {
    grid-column: 1/3;
    background-color: #634F2C;

}
.grid_item2 {
    grid-column: 3/5;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #B4A385;
}

.grid_item3 {
    grid-column: 5/7;
    background-color: #E4B564;
}

.grid_item4 {
    grid-column: 1/4;
    background-color: #E4B564;
}
.grid_item5 {
    grid-column: 4/7;
    background-color: #B08C4D;
}

.title3 {
    font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
margin-top: 161px;
}

.grid_wrapper2 {
    margin-top: 94px;
    height: 897px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 27px   ;
      
    
}

[class^="grid_objects"] {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 44px;
}


.grid_objects1 { 
    grid-area: 1 / 1 / 4 / 3; 
    background-color: #0E0E0E;
}
.grid_objects2 { 
    grid-area: 4 / 1 / 9 / 3;
    background-color: #1F1F1F;
}
.grid_objects3 { 
    grid-area: 1 / 3 / 5 / 5; 
    background-color: #242424;
}
.grid_objects4 { 
    grid-area: 5 / 3 / 9 / 5;
    background-color: #E4B564;
}
.grid_objects5 { 
    grid-area: 1 / 5 / 3 / 7;
    background-color: #1F1F1F;
}
.grid_objects6 { 
    grid-area: 3 / 5 / 6 / 7; 
    background-color: #0E0E0E;
}
.grid_objects7 { 
    grid-area: 6 / 5 / 9 / 7; 
    background-color: #0A0909;
}

.footer_container {
    height: 1054px;
    margin-top: 200px;
}

.footer_nav {
    height: 195px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title4{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    
}

.btn_footer {
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    box-sizing: border-box;
    padding-left: 40px; 
    padding-top: 10px;
      
}

.wrapper3 {
    box-sizing: border-box;
    height: 800px;
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    
}

[class^="grid_footer"] {

}

.grid_footer1 {
grid-column: 1/2;
background-color:#634F2C ;
padding-top: 170px;
padding-left: 150px;

}



.grid_footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(232, 210, 171, 0.76);
    padding-top:61px;
}

.mavis_address {
    font-family: 'Gilam';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
color: #FFFFFF;
}

.mavis_logo {
    width: 62px;
height: 55px;
}

.grid_footer3 {
    background-color: #E4B564;
    padding-top: 170px;
padding-left: 150px;


}


.grid_footer4{
background-color:#635A4A ;   
 padding-top: 170px;
padding-left: 150px;

}


.grid_footer5{
    background-color:#B08C4D ;   
     padding-top: 170px;
    padding-left: 150px;
    
}

.grid_footer6 {
    background-color:#634F2C;  
     padding-top: 170px;
    padding-left: 150px;
    
}

